* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}
  
body {
    font-family: Geometria, sans-serif;
    font-weight: 400;
}

.title {
    text-transform: uppercase;
    color: rgb(0, 27, 113);
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 50px;
}