.terms {
  padding: 60px 0;
}

.terms-text {
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 15px;
}

.terms-text a {
  color: $color-link;
  @extend %transition;
}

.terms-text a:hover {
  color: $color-link-hover;
}

.terms-items {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 40px;
  justify-content: space-between;
  margin-top: 50px;
}

.terms-item {
  display: flex;
  max-width: $term-item-width;
  gap: 30px;
}

.term-img {
  width: 90px;
  font-size: 0;
  flex-shrink: 0;
}

.term-img img {
  width: 100%;
}

.term-title {
  font-size: 26px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: $color-term-title;
  font-weight: 400;
}

.term-text {
  font-size: 22px;
}